body {
  font-size: 16px;
  min-height: 100vh;
  background-color: aquamarine;
  color: #000;
  font-size: 16px;
  padding: 0;
  font-family: monospace; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
