@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}


body {
  font-size: 16px;
  min-height: 100vh;
  background-color: aquamarine;
  color: #000;
  font-family: 'Inter var', sans-serif; 
}

.global-header {
  border-top: 1px solid black;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 3px solid black;
  padding: 20px;
}

.post {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 10px solid black;
  border-left: 3px solid black;
  margin-bottom: 10px;
  padding: 10%;
}

 .highlight {
-webkit-animation: cssAnimation 0.4s infinite ease;
-moz-animation:  cssAnimation 0.4s infinite ease;
-o-animation: cssAnimation 0.4s infinite ease;
}
@-webkit-keyframes cssAnimation {
from {-webkit-transform: rotate(5deg) scale(1) skew(10deg) translate(10px) ;
-moz-transform: rotate(5deg) scale(1) skew(10deg) translate(10px) ;
-o-transform: rotate(5deg) scale(1) skew(10deg) translate(10px) ;
 }
to {-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
}
@-moz-keyframes cssAnimation {
from {-webkit-transform: rotate(5deg) scale(1) skew(10deg) translate(10px) ;
-moz-transform: rotate(5deg) scale(1) skew(10deg) translate(10px) ;
-o-transform: rotate(5deg) scale(1) skew(10deg) translate(10px) ;
 }
to {-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
}
@-o-keyframes cssAnimation {
from {-webkit-transform: rotate(5deg) scale(1) skew(10deg) translate(10px) ;
-moz-transform: rotate(5deg) scale(1) skew(10deg) translate(10px) ;
-o-transform: rotate(5deg) scale(1) skew(10deg) translate(10px) ;
 }
to {-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
}



